<hr />
<footer class="bg-black text-white py-4">
    <div class="container">
        <div class="row bg-black">
            <div class="col-lg-4">
                <h4>Thông tin nhóm</h4>
                <ul>
                    <li>19Dh110477 - Đặng Kiệt Thông</li>
                    <li>19DH111132 - Huỳnh Vĩnh Đạt</li>
                    <li>19DH110835 - Lê Bảo Huy</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Giáo viên hướng dẫn</h4>
                <div class="text-danger">Trần Phương Tuấn</div>
                <div>Ca 2 - Thứ 3 - Tiết 4-6</div>
            </div>
            <div class="col-lg-4">
                <h4>Theo dõi</h4>
                <div class="my-1">
                    <i class="fab fa-facebook me-2"></i>Facebook
                </div>
                <div class="my-1">
                    <i class="fab fa-youtube me-2"></i>Youtube
                </div>
                <div class="my-1">
                    <i class="fab fa-twitter me-2"></i>Twitter
                </div>
            </div>
        </div>
    </div>
    <p class="text-center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
</footer>
